.page-header{
  display: flex;
  min-height: 8%;
  max-height: max-content;
  background-color: var(--white);
}

.navbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0.5rem 0 0.5rem;
}

.nav-item{  
  border-right: 1px solid var(--gray-line);
  padding: 0.8rem;
  transition: color 0.3s ease-in;
  flex: 1 1 auto;
  text-align: center; 
}

.nav-item a {
  text-decoration: none;
  vertical-align: middle;
  color: var(--text);
  font-weight: 400;
}

.nav-item:hover {
  transition: color 0.3s ease-out;
  box-shadow: var(--box-shadow);
  background-color: var(--text);
}

.nav-item:hover > a {
  color: var(--white)
}

@media (max-width: 768px) {
  .page-header{
  min-height: 13%;
  max-height: max-content;
  }
  .navbar ul {
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.1rem 0 0.2rem;
  }

  .nav-item{  
    border-right: none;     
    border-bottom: 1px solid var(--gray-line);
    width: 50px;
  }
}